*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --primary-clr-400: #2D51E3;
    --primary-clr-500: #213999;

    --accent-clr-400: #42FF00;
    --accent-clr-500: #39871E;

    --neutral-clr-100: #fff;
    --neutral-clr-800: #131313;
    --neutral-clr-900: #000000;

    --ff-primary: 'Inter', sans-serif;
    --fw-light: 500;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-900: clamp();
    --fs-800: clamp(1.5rem, 4.5vw, 2.625rem);

    --br: .375rem;
    --circle-border: 2rem;
}


body {
  font-family: var(--ff-primary);
  color: var(--neutral-clr-100);
}

::selection {
  background-color: var(--primary-clr-500);
}

/* header */
.hero__title {
  line-height: 1;
}

.hero__title.mobile{
  max-width: 22ch;
  margin-inline: auto;
  font-size: var(--fs-800);
  text-align: center;
  position: relative;
  z-index: 2;
}

header {
  background-color: var(--neutral-clr-900);
}

.top-header {
  margin-inline: auto;
}

@media (min-width: 50em) {
  .top-header {
    padding-top: 2rem;
  }
}

@media (min-width: 50em) {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.top-header .header__logo {
  width: clamp(8rem, 24vw, 13rem);
  padding-block: 1rem .5rem;
}

@media (min-width: 50em) {
  .hero-image-side {
    width: 50%;
    max-width: 30rem;
  }

  .hero-text-side {
    width: 50%;
    position: relative;
    z-index: 2;
  }
}

.hero-image-side .hero-image-wrapper {
  max-width: 80%;
  margin-inline: auto;
  position: relative;
}

@media (min-width: 50em) {
  .hero-image-side .hero-image-wrapper {
    max-width: none;
  }
}

.graphic-card, 
.blurred-graphic-card {
  position: absolute;
  max-width: 40%;
}

.graphic-card {
  top: 2.75rem;
  left: .25rem;
  animation: graphic-card-anim 2.75s infinite;
}

.blurred-graphic-card {
  bottom: 3rem;
  right: .5rem;
  animation: blurred-graphic-card-anim 2.75s infinite;
}

@keyframes graphic-card-anim {
  50% {
    transform: translateY(-7.5%);
  }
}

@keyframes blurred-graphic-card-anim {
  50% {
    transform: translateY(7.5%);
  }
}

.top-shadow, 
.right-shadow, 
.left-shadow, 
.bottom-shadow {
  position: absolute;
}

.top-shadow {
  top: -5px;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom, #060407, transparent);
}

.top-shadow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  top: -.75rem;
  left: 0;
  background-image: linear-gradient(to top, #060407, transparent);
}

.left-shadow {
  height: 102%;
  width: 15%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #060407, transparent);
}

.left-shadow::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 15%;
  left: -1rem;
  bottom: 0;
  background-image: linear-gradient(to left, #060407, transparent);
}

.right-shadow {
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left, #060407, transparent);
}

.right-shadow::before {
  content: "";
  height: 100%;
  width: 15%;
  right: -.75rem;
  bottom: 0;
  background-image: linear-gradient(to right, #060407, transparent);
}

.bottom-shadow {
  width: 100%;
  height: 15%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #060407, transparent);
}

.hero-text-side {
  text-align: center;
  max-width: 40ch;
  margin-inline: auto;
}

@media (min-width: 50em) {
  .hero-text-side {
    max-width: 40ch;
    margin-inline: 0;
    text-align: start;
  }
}

.hero-text-side p {
  padding-block: 1rem;
}

.hero-text-side .button {
  margin-bottom: 2rem;
  width: 100%;
}

.button {
  position: relative;
  border-radius: var(--br);
  background-image: linear-gradient(to right, var(--accent-clr-400), var(--accent-clr-500) 50%);
  border: 0;
  cursor: pointer;
  animation: pulse-animation 1.75s alternate infinite linear, shake-animation 3.5s infinite ease-in;
  box-shadow: 0 0 .5rem 0 var(--accent-clr-400);
  transition: transform .1s linear;
}

.button a {
  display: inline-block;
  text-decoration: none;
  color: var(--neutral-clr-100);
  font-weight: var(--fw-bold);
  padding: 1rem;
}

@media (min-width: 50em) {
  .button a {
    padding: 1rem 1.5rem;
  }
}

@keyframes pulse-animation {
  50% {
    box-shadow: 0 0 1.5rem 0 var(--accent-clr-400);
  }
}

@keyframes shake-animation {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

/* testimonial section */

.testimonials {
  padding-top: 2rem;
  background-color: var(--neutral-clr-900);
  position: relative;
  text-align: center;
}

.testimonials::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("Background-images/Ellipse.png");
  background-size: cover;
  right: 0;
  bottom: 35%;
  transform: translateY(65%);
}

@media (min-width: 50em) {
  .testimonials::before {
    right: 0;
    top: -4.5rem;
    bottom: auto;
    transform: translateY(0);
    width: 25rem
  }
}

.testimonials::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #060407);
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 50em) {
  .testimonials-wrapper {
    justify-content: center;
    flex-direction: row;
  }
}

.testimonials__title {
  position: relative;
  z-index: 2;
  padding-bottom: 2rem;
}

@keyframes circle-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.testimonials-videos {
  position: relative;
  z-index: 2;
}

@media (min-width: 50em) {
  .testimonials-videos {
    width: 50%;
  }
}

.main-video {
  width: 240px;
  height: 400px;
  background-color: #595959;
  border-radius: var(--br);
}

.thumb-videos-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.thumb-video {
  width: 66px;
  height: 66px;
  border-radius: var(--br);
  background-color: #595959;
}

.testimonials-lists {
  list-style: none;
  position: relative;
  z-index: 2;
}

@media (min-width: 50em) {
  .testimonials-quotes {
    width: 50%;
  }
}

.testimonials-list {
  margin-top: 1.5rem;
}

.testimonials-list blockquote {
  text-align: start;
  border: 1px solid var(--primary-clr-500);
  border-radius: var(--br);
  padding: 1rem;
}

.testimonials .button {
  margin-block: 2.5rem;
  position: relative;
  z-index: 2;
}

@media (min-width: 50em) {
  .testimonials .button {
    width: 100%;
  }
}

.circle {
  width: 400px;
  height: 400px;
  position: absolute;
  border: var(--circle-border) solid var(--primary-clr-400);
  border-top: var(--circle-border) solid var(--neutral-clr-100);
  border-right: var(--circle-border) solid var(--neutral-clr-100);
  border-radius: 50%;
  animation: circle-anim 3.5s linear infinite;
  left: -15rem;
  top: 11.5%;
  z-index: 2;
}

@media (min-width: 75em) {
  .circle {
    width: 500px;
    height: 500px;
    top: 18%;
  }
}

/* modules section */

.modules-section {
  background-image: url("Background-images/Background-módulos.png");
  background-size: cover;
  text-align: center;
  padding-top: 2rem;
  position: relative;
}

.modules-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to top, transparent, #060407);
}

.modules-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to bottom, transparent, #060407);
}

.modules-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modules-images-wrapper {
  position: relative;
  max-width: 75%;
  margin-inline: auto;
  overflow: hidden;
  margin-bottom: 2rem;
}

@media (min-width: 50em) {
  .modules-images-wrapper {
    max-width: 35rem;
  }
}

.modules-graphic-card {
  position: absolute;
  width: 100%;
  transform: translate(50%, 50%) scale(1.75);
  bottom: 50%;
  right: 50%;
}

.octagono__img {
  animation: circle-anim 8s linear infinite;
}

.modules-button-wrapper {
  width: min(100%, 31.25rem);
  position: relative;
  background-color: rgba(0, 0, 0, .73);
  border-radius: var(--br);
  border: 2px solid var(--primary-clr-500);
}

.modules__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--br);
  background: none;
  border: 0;
  color: var(--neutral-clr-100);
  width: 100%;
  padding: .75em 1em;
}

@media (min-width: 50em) {
  .modules__button {
    padding: .75em 3em;
  }
}

.modules-lists {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .75s ease-in-out;
  list-style: none;
  text-align: start;
}

@media (min-width: 50em) {
  .modules-lists {
    padding: 0em 3em;
  }
}

.modules-lists.active {
  height: 700px;
}

@media (min-width: 50em) {
  .modules-lists.active {
    height: 685px;
  }
}

.arrow-icon {
  transition: .3s;
  transform: rotate(180deg);
}

.arrow-icon.active {
  transform: rotate(0deg);
}

.modules-lists li {
  padding: .25rem 0rem .25rem 1rem;
}

.modules-lists li::before {
  content: "\2022";
  color: var(--primary-clr-400);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.modules-section .button {
  margin-block: 2.5rem;
  width: min(100%, 31.25rem);
}

/* about section */

.about-section {
  background-image: url("Background-images/background-sobre.png");
  background-size: cover;
  position: relative;
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to top, transparent, #060407);
}

/* utility classes */

.container {
  width: min(90%, 69.375rem);
  margin-inline: auto;
}

.primary-clr-400 {
  color: var(--primary-clr-400);
}

.primary-clr-500 {
  color: var(--primary-clr-500);
}

.desktop {
  display: none;
}

@media (min-width: 50em) {
  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}